<html lang="en">

    <head>{{>header}}
            <div class="text-right">
            {{^user}}
            <a id="register" href="/register" class="btn btn-primary">
            Register
            </a>
            <a id="login" href="/login" class="btn btn-primary">
            Sign in
            </a>
            </div>
            {{/user}}
            </head>
      </p>
          {{^user}}
        <h1><mark class="black">{{title}}</mark></h1>
        </p>
          <div class="row">
            <div class="column" style="background-color:rgb(36, 196, 0);">
              <h2><p>{{LunchMenu}}</h2></p>
              <h3>{{LunchMenuDetail}}
              </p>{{Clicktoview}}</h3>
               <h3> <a href='/lunch/{{menu1}}'>{{menu1}}</a></h3>
                </p>
            </div>
            <div class="column" style="background-color:rgb(255, 255, 255);">
             <h2><p>{{ChefSpec}}</p></h2> 
             <h3>{{ChefsSpecialDetail}}
             </p>{{Clicktoview}}</h3>
                <h3><a href='/specials/{{menu2}}'>{{menu2}}</a></h3>
                </p>
            </div>
            <div class="column" style="background-color:rgb(250, 0, 0);">
              <p><h2>{{DinnerMenu}}</p></h2>
              <h3>{{DinnerMenuDetail}}
              </p>{{Clicktoview}}</h3></p></p></p>
                <h3><a href='/dinnermenu/{{menu3}}'>{{menu3}}</a></h3>
                {{/user}}
            </div>
     <body class="container"> 
    <form method="post" role="form" action="/new">
            {{#user}}
            <a id="logout" href="/logout" class="btn btn-primary">
            Log out
            </a>

            </p>
            <a id="menuform" href='/lunch/{{menu1}}' class="btn btn-primary">
            View Lunch Menu</a>
            </p>
            <a id="menuform" href='/specials/{{menu2}}' class="btn btn-primary">
            View Specials Menu</a>
            </p>
            <a id="menuform" href='/dinnermenu/{{menu3}}' class="btn btn-primary">
            View Dinner Menu</a>
            </p>
            <a id="menuform" href='/menuform' class="btn btn-primary">
            Add New Menu Item</a>
            </p>
           <a id="updatemenuitem" href='/updatemenuitem' class="btn btn-primary">
            Update Menu Item</a>
            </p>
            <a id="deleteitem" href='/deleteitem' class="btn btn-primary">
            Remove Menu Item</a>
            </p>

            
    </form>
    {{/user}}
    </body>
</html>