<html lang="en">
    <head>{{>header}} 
            <div class="text-right">
            {{^user}}
            <a id="login" href="/register" class="btn btn-primary">
            Register
            </a>
            <a id="login" href="/login" class="btn btn-primary">
            Sign in
            </a>
            </div>
            {{/user}}
            {{#user}}
            <div class="text-left">
            <a id="logout" href="/logout" class="btn btn-primary">
            Sign out
            </a>
            <div class="text-right2">
            <a id="menuform" href='/menuform' class="btn btn-primary">
            Add New Menu Item
            </div>
            {{/user}}
          </head>
     <body class="container">  
        <h1><mark class="black">{{title}}</mark></h1>
        </p>
          <div class="row">
            <div class="column" style="background-color:rgb(36, 196, 0);">
              <h2><p>{{LunchMenu}}</h2></p>
              <h3>{{LunchMenuDetail}}
              </p>{{Clicktoview}}</h3>
               <h3> <a href='/lunch/{{menu1}}'>{{menu1}}</a></h3>
                </p>
            </div>
            <div class="column" style="background-color:rgb(255, 255, 255);">
             <h2><p>{{ChefSpec}}</p></h2> 
             <h3>{{ChefsSpecialDetail}}
             </p>{{Clicktoview}}</h3>
                <h3><a href='/specials/{{menu2}}'>{{menu2}}</a></h3>
                </p>
            </div>
            <div class="column" style="background-color:rgb(250, 0, 0);">
              <p><h2>{{DinnerMenu}}</p></h2>
              <h3>{{DinnerMenuDetail}}
              </p>{{Clicktoview}}</h3></p></p></p>
                <h3><a href='/dinnermenu/{{menu3}}'>{{menu3}}</a></h3>
            </div>
          </div> 
          </p>
    </body>
</html>