<html>
<head>{{>header3}}</head>
<body class="container">
<h1>{{title}}</h1>
<h2><mark class="black">New Staff Registration</mark></h2>
<form method="post" role="/register">
<div class="form-group">
{{user-name-error}}<mark class="black">
<label for="username">User Name</label></mark>
<input type="text" class="form-control" id="username" name="username"
placeholder="Enter user name" required>
</div>
<div class="form-group">
<label for="password"><mark class="black">Password (8 characters minimum)</mark></label>
<input type="password" class="form-control" id="pass" name="pass"
placeholder="Enter password" minlength="8" required>
</div>
<div class="form-group">
<input type="submit" value="Register" class="btn btn-primary">
</div>
</form>
</body>